.btn {
    background-color: var(--dark-green);
    border: none;
    border-radius: 60px;
    color: var(--white);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    padding: 20px 44px 20px;
    text-transform: uppercase;
}

.btn:hover {
    background-color: var(--hover-green);
}

@media (min-width:1200px) {
    .btn {
        font-size: 20px;
    }
}