@import "./normalize.css";
@import "./vars.css";

@font-face {
  font-family: "Lovelanse";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/LovelaceText-Regular.ttf");
  src: local(""),
    url("./fonts/LovelaceText-Regular.woff2") format("woff2"),
    url("./fonts/LovelaceText-Regular.woff") format("woff"),
    url("./fonts/LovelaceText-Regular.ttf") format("truetype"),
    url("./fonts/LovelaceText-Regular.eot") format("eot"),
}


@font-face {
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/Montserrat-Regular.ttf");
  src: local(""),
    url("./fonts/Montserrat-Regular.ttf") format("truetype"),
}

* {
  font-family: "Montserrat-Regular", Arial, sans-serif;
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lovelanse', "Montserrat-Regular", Arial, sans-serif;
}

.hover:hover {
  opacity: 0.8;
}

html,
body {
  height: 100%;
}

.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.App_content {
  margin-top: 85px;
  flex: 1 1 auto;
}

a {
  width: 100%;
}

.swiper-pagination-bullet {
  height: 10px !important;
  width: 10px !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--dark-green) !important;
}

@media (min-width:500px) {
  .swiper-pagination-bullet {
    height: 16px !important;
    width: 16px !important;
  }
}