:root {
    --white: #ffffff;
    --dark: #002A3A;
    --green: #129E7D;
    --dark-green: #067057;
    --grey: #7d7b7b;
    --dark-grey: #e1dede;
    --light-grey: #F5F5F9;
    --feedBAck: rgba(0, 42, 58, 0.56);
}