:root {
    --bg-main: rgb(205, 208, 201);
    --bg-green: #E8ECE5;
    --green: #B3C4B5;
    --dark-green: #717867; 
    --white: #FAFAF9;
    --black: #2D3029;
    --header: rgba(193, 196, 189, 0.9);
    --grey: #C5C8C1;
    --hover-green: #76895B;
    --dark-white: rgba(255, 255, 255, 0.673);
}