.footer {
    width: 100%;
    background-color: var(--black);
    color: var(--white);
    padding: 40px 0;
    position: relative;
    overflow: hidden;
}

.footer_inner {
    width: 90%;
    margin: 0 auto;
    font-size: 20px;
    display: grid;
    grid-template-areas: "logo navbar navbar" "adress adress ." "time time ." "sociallinksblock sociallinksblock ." "phone phone ." "email email ." "instagaminfo instagaminfo ." "payments payments .";
    gap: 20px;
}

.adress,
.time,
.phone,
.email {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    transition: 0.8s;
    font-weight: 200;
    font-size: 15px;
}

.adress,
.phone,
.email {
    opacity: 0.8;
}

.adress:hover,
.phone:hover,
.email:hover {
    opacity: 6;
}

.adress img,
.time img,
.phone img,
.email img {
    margin-right: 16px;
}

.adress,
.phone,
.email {
    text-decoration: none;
    cursor: pointer;
}

.time ul {
    list-style-type: none;
}

.time_text_block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.time_text_block div {
    margin-bottom: 16px;
}

.time_text_time {
    margin-right: 8px;
}

.logo {
    grid-area: logo;
}

.navbar {
    grid-area: navbar;
}

.time {
    grid-area: time;
}

.adress {
    grid-area: adress;
}

.sociallinksblock {
    grid-area: sociallinksblock;
}

.phone {
    grid-area: phone;
}

.email {
    grid-area: email;
}

.instagaminfo {
    grid-area: instagaminfo;
    font-size: 16px;
    font-weight: 300;
    max-width: 300px;
}

.payments {
    grid-area: payments;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 130px;
}

@media (min-width:355px) {

    .adress,
    .time,
    .phone,
    .email {
        font-size: 20px;
    }
}


@media (min-width:768px) {
    .footer_inner {
        grid-template-areas:
            "logo navbar adress"
            "logo navbar time"
            "logo navbar time"
            ". sociallinksblock sociallinksblock"
            ". phone phone"
            ". email email"
            ". instagaminfo payments";
    }

    .payments img {
        width: 36px;
    }
}

@media (min-width:1600px) {
    .footer_inner {
        grid-template-areas:
            "logo navbar adress time sociallinksblock"
            "logo navbar adress time phone"
            "logo navbar . time email"
            "logo navbar . payments instagaminfo"
    }

}