.svgblock {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.svgblock__item {
    transition: 0.5s;
}

.svgblock__item svg {
    width: 35px;
    height: 35px;
}

.svgblock__item:hover {
    opacity: 0.5;
}

@media (min-width: 300px) {

    .svgblock__item svg,
    {
    width: 35px;
    height: 35px;
}
}