.bold {
    font-weight: 600;
}


.center {
    margin: 30px auto;
}

.normal {
    margin: 35px 0;
}

@media (min-width: 576px) {

    .bold,
    .normal {
        text-align: justify;
        /* text-indent:20px; */
    }
}