.bold {
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 30px;
}

.center {
    font-weight: 300;
    font-size: 18px;
    margin: 35px auto;
}

.normal {
    font-weight: 300;
    font-size: 14px;
    margin: 35px 0;
}

@media (min-width: 576px) {
    .bold,
    .normal {
        text-align: justify;
        /* text-indent:20px; */
    }
}