.textBlock {
    margin-bottom: 80px;
}

.bold {
    font-weight: 600;
}

.center {
    margin: 30px auto;
}

.normal {
    margin: 35px 0;
    font-size: 20px;
}

.slogan {
    font-weight: 600;
    margin-top: 50px;
    text-align: center;
    font-size: 25px;
}

.sertificate img {
    margin: 0 auto 100px;
}

@media (min-width: 576px) {

    .bold,
    .normal {
        text-align: justify;
    }
}

@media (min-width: 768px) {
    .textBlock {
        margin-bottom: 100px;
    }
}

@media (min-width: 1600px) {
    .textBlock {
        margin-bottom: 180px;
    }
}

.centeredBlock {
    text-align: center;
}