.body {
    background-color: var(--white);
    padding: 30px;
    border-radius: 15px;
    text-align: left;
}

.form {
    display: flex;
    flex-direction: column;

}

.input {
    width: 100%;
    height: 42px;
    margin-bottom: 20px;
    background-color: var(--light-grey);
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.form_header {
    text-align: left;
    color: var(--grey);
    font-size: 15px;
}

.error {
    color: var(--green);
    font-size: 18px;
    white-space: nowrap;
    line-height: 18px;
    padding: 0;
    margin: 0;
}

.form_block button {
    margin-top: 23px;
    height: 42px;
}

@media (min-width:768px) {
    .form {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .input {
        margin: 0;
    }

    .form_block {
        width: 32%;
    }
}