.h1 {
    font-size: 33px;
    line-height: 30px;
    color: var(--dark);
    text-align: center;
    font-weight: 900;
}

.h2 {
    font-size: 30px;
    color: var(--dark);
    font-weight: 900;
    margin-bottom: 60px;
    text-align: center;
}