.block {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}


.block__item {
    border-radius: 5px;
    box-shadow: 0px 0px 14px -3px rgba(34, 60, 80, 0.27);
}

.block__item_header {
    background-color: var(--feedBAck);
    color: var(--white);
    font-weight: 600;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 20px;
    text-align: left;
    font-size: 14px;
}

.rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 16px;
}

.header_item {
    display: flex;
    flex-direction: column;

}

.header_item * {
    text-decoration: none;
    color: var(--white);
    transition: 0.5s;
}



.header_item_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 400;
    padding-right: 10px;
}

.header_item_link *:hover {
    cursor: pointer;
    color: var(--light-grey);
}

.header_item_icon * {
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.sm {
    font-weight: 400;
    margin-left: 5px;
}

.block__item_text {
    padding: 20px;
    text-align: left;
}



@media (min-width:576px) {

    .rating {
        flex-direction: row;
        justify-content: space-between;
        font-size: 20px;
    }

    .header_item {
        display: flex;
        flex-direction: row;
        align-items: center;

    }

}

@media (min-width:992px) {
    .block {
        grid-template-columns: 1fr 1fr;
    }


}