.img {
   width: 300px;
   border-radius: 50%;
   margin-bottom: 30px;
}

.description{
   margin-top: 20px;
   margin-bottom: 50px;
}
.diplomas {
   margin-top: 50px;
   display: grid;
   grid-template-columns: 1fr;
}

@media (min-width:768px) {
   .diplomas {
      display: grid;
      grid-template-columns: 1fr 1fr;
   }
}

@media (min-width:1200px) {
   .diplomas {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
   }
}