.header {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--white);
    padding: 41px 0;
    z-index: 12;
    height: 56px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.menuIcon {
    color: var(--green);
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.header_container {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (min-width: 992px) {
    .header_container {
        width: 80%;
    }
}

@media (min-width: 1200px) {
    .header_container {
        width: 1100px;
    }
}