.topBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topBlock_text {
    margin-bottom: 40px;
}

.topBlock_text ul {
    margin-bottom: 20px
}


.topBlock_img img {
    border-radius: 15px;
    width: 500px;
    margin: 0 auto;
}
.center {
    text-align: center;
}

@media (min-width:1200px) {
    .topBlock {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
    }

    .topBlock_img {
        margin: 30px auto 0;
    }

    .topBlock_text {
        margin-bottom: 0;
    }
}