.list {
    display: flex;
    flex-direction: column
}

.link,
.link_active {
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    transition: 0.5s;
    margin: 0 10px;
    padding: 10px 0;
    position: relative;
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
}

.link_active {
    font-weight: 900;
}

.link:hover {
    font-weight: 900;
}