.list {
    display: flex;
    flex-direction: column
}

.link,
.link_active {
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s;
    margin: 0 10px;
    padding: 10px 0;
    position: relative;
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
}

.link_active {
    font-weight: 700;
}

.link:after {
    display: block;
    position: relative;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--white);
    content: "";
    transition: width 0.3s ease-out;
}

.link:hover:after,
.link:focus:after {
    width: 55%;
}