.img,
.pension_img {
    border-radius: 100%;
    width: 90%;
    transition: 1s;
}

.pension {
    margin-top: 40px;
    padding-bottom: 100px;
}

.pension_img {
    margin-left: 10%;
}

.img:hover,
.pension_img:hover {
    transform: scale(1.1);
}

.block_text,
.pension_block_text {
    background-color: var(--green);
    padding: 8px 14px;
    border-radius: 20px;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
}

.block_text {
    width: 80%;
    margin-left: 20%;
    margin-top: -40px;
}

.pension_block_text {
    width: 80%;
    margin-right: 20%;
    margin-top: -40px;
}

.block h3 {
    font-size: 20px;
    font-weight: 700;
}

.block h4,
.block h5 {
    font-size: 16px;
    font-weight: 500;
}

@media (min-width: 768px) {
    .block h4 {
        font-size: 18px;
    }

    .img,
    .pension_img {
        width: 60%;
    }

    .pension_img {
        margin-left: 40%;
        margin-top: 200px;
    }

    .pension_block_text {
        width: 50%;
        margin-left: 10%;
        top: -60px;
    }

    .block_text {
        margin-left: 40%;
        width: 50%;
        margin-top: -350px;
    }

}

@media (min-width: 1200px) {

    .img,
    .pension_img {
        width: 850px;
        margin: 0;
    }

    .pension {
        margin-top: 570px;
        text-align: right;
    }

    .block_text {
        top: 0;
        right: 0;
        margin-top: -700px;
        margin-left: 500px;
        width: 603px;
    }

    .pension_block_text {
        margin-top: -200px;
        width: 534px;
    }

    .block h3 {
        font-size: 36px;
    }

    .block h4 {
        font-size: 24px;
    }

    .block h5 {
        font-size: 20px;
    }
}

@media (min-width: 1600px) {
    .pension_block_text {
        margin-left: 500px;
    }
}