.block__item {
    border-radius: 5px;
    box-shadow: 0px 0px 14px -3px rgba(34, 60, 80, 0.27);
    width: 98%;
    margin: 0 auto 50px;
}

.block__item_header {
    background-color: var(--feedBAck);
    color: var(--white);
    font-weight: 600;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 20px;
    text-align: left;
    font-size: 18px;
    height: 295px;
}

.rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
}

.header_item {
    display: flex;
    flex-direction: column;
}

.header_item * {
    text-decoration: none;
    color: var(--white);
    transition: 0.5s;
}

.header_item_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 400;
    padding-right: 10px;
}

.header_item_link *:hover {
    cursor: pointer;
    color: var(--light-grey);
}

.header_item_icon * {
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.sm {
    font-weight: 400;
    margin-left: 5px;
}

.block__item_text {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
}

.block__item_text p {
    margin-bottom: 10px;
}

.block__item_text a {
    margin-bottom: 10px;
}

.link {
    color: var(--green);
    font-size: 20px;
    transition: 0.7s;
    text-align: center;
    display: block;
}

.link:hover {
    color: var(--dark-green);
    font-weight: 600;
}

.image {
    margin: 0 auto;
}

.service_link {
    cursor: pointer;
}

.service_link:hover {
    color: rgb(217, 143, 143);
}

@media (min-width:576px) {

    .block__item_header {
        height: 200px;
    }

    .rating {
        flex-direction: row;
        justify-content: space-between;
    }

    .header_item {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

}

@media (min-width:992px) {
    .block__item_text {
        height: 850px;
    }
}

@media (min-width:1200px) {
    .block__item_text {
        height: 600px;
    }
}