.list {
    text-align: left;
    content: "\e800";

}

.list__item {
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 40px;
}

.icon svg {
    color: var(--green);
    vertical-align: middle;
    margin-right: 5px;
    height: 18px;
    width: 18px;
}